<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9 col-md-offset-3">
      <div class="chat">
        <h2 class="question"><%= @query %></h2>
        <p>- You</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-9 col-md-offset-3">
      <div class="chat">
        <h2 class="answer"><%= @answer %></h2>
        <p>- Your coach</p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= link_to "ask a new question", ask_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
