<div class="container">
  <div class="text-center ask-form">
    <form action="/answer" method="get">
      <div class="form-group form-inline">
        <label for="question">Speak to your coach</label>
        <input type="text" id="question" name="query" placeholder="what time is it?" class="form-control">
        <input type="submit" value="Go on!" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
